  <h1>New Category</h1> 
  <%= form_with model: @group do |form|%>
    <div>
      <%= form.label :name%> <br>
      <%= form.text_field :name%>
    </div>

    <div>
      <%= form.label :icon%> <br>
      <%= form.text_field :icon%>
    </div>
  
    <%= form.submit%>
  <%end%>