<%= form_with(model: @expense, url: group_expenses_path(@group)) do |form| %>
  <% if @expense.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
        <% @expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, hidden: true %> <br/>
    <%= form.text_field :name, placeholder: 'Name', required: true %>
  </div>
  <div>
    <%= form.number_field :amount, placeholder: 'Amount', required: true %>
  </div>
  <div class="selections">
    <%@groups.each do |group|%>
      <div class="selection">
        <%= group.name %>
        <%= check_box_tag "group_ids[]", group.id, group.id == @group.id  %>
      </div>
    <%end%>
  </div>
</div>
<div class="verb">
  <%= form.submit "Create" %>
</div>
<% end %>